<!doctype html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Thymeleaf Demo</title>
<link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>
<body>
	<p class="funny"
		th:text="'This text will ONLY appear when using server to view.  Time on the server is ' + ${theDate}">This
		text will NOT appear when using server, only appear during
		offline/static.</p>

</body>
</html>