<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Employee Directory</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="../static/css/demo.css" data-th-href="@{/css/demo.css}" />
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				<tr data-th-each="tempEmployee : ${employees}">
					<td data-th-text="${tempEmployee.firstName}">Donald</td>
					<td data-th-text="${tempEmployee.lastName}">Trump</td>
					<td data-th-text="${tempEmployee.email}">truetd@gmail.com</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>